c [f=bg] { color: #154053; }
c [b=bg] { background-color: #154053; }
c [f=black] { color: #245970; }
c [b=black] { background-color: #245970; }
c [f=br_black] { color: #7c95a0; }
c [b=br_black] { background-color: #7c95a0; }
c [f=fg] { color: #a8bcc3; }
c [b=fg] { background-color: #a8bcc3; }
c [f=white] { color: #a8bcc3; }
c [b=white] { background-color: #a8bcc3; }
c [f=br_white] { color: #c4d8df; }
c [b=br_white] { background-color: #c4d8df; }
c [f=red] { color: #fc5851; }
c [b=red] { background-color: #fc5851; }
c [f=green] { color: #78b93e; }
c [b=green] { background-color: #78b93e; }
c [f=yellow] { color: #d8b033; }
c [b=yellow] { background-color: #d8b033; }
c [f=blue] { color: #4e97f5; }
c [b=blue] { background-color: #4e97f5; }
c [f=magenta] { color: #f16dc5; }
c [b=magenta] { background-color: #f16dc5; }
c [f=cyan] { color: #41c7b9; }
c [b=cyan] { background-color: #41c7b9; }
c [f=br_red] { color: #ff675d; }
c [b=br_red] { background-color: #ff675d; }
c [f=br_green] { color: #85c74c; }
c [b=br_green] { background-color: #85c74c; }
c [f=br_yellow] { color: #e7be42; }
c [b=br_yellow] { background-color: #e7be42; }
c [f=br_blue] { color: #5ea4ff; }
c [b=br_blue] { background-color: #5ea4ff; }
c [f=br_magenta] { color: #ff7bd3; }
c [b=br_magenta] { background-color: #ff7bd3; }
c [f=br_cyan] { color: #52d5c7; }
c [b=br_cyan] { background-color: #52d5c7; }
