  [[!!COL!{name}!]]
    background_color = "!!COL!{bg_0.srgb}!"
    background_image = None
    cursor_color = "!!COL!{dim_0.srgb}!"
    font = Ubuntu Mono 12
    foreground_color = "!!COL!{fg_0.srgb}!"
    palette = "!!COL!{bg_1.srgb}!:!!COL!{red.srgb}!:!!COL!{green.srgb}!:!!COL!{yellow.srgb}!:!!COL!{blue.srgb}!:!!COL!{magenta.srgb}!:!!COL!{cyan.srgb}!:!!COL!{dim_0.srgb}!:!!COL!{bg_2.srgb}!:!!COL!{orange.srgb}!:!!COL!{br_green.srgb}!:!!COL!{br_yellow.srgb}!:!!COL!{violet.srgb}!:!!COL!{br_magenta.srgb}!:!!COL!{br_cyan.srgb}!:!!COL!{fg_1.srgb}!"
    scroll_on_output = False
    scrollback_infinite = True
    scrollbar_position = hidden
    use_system_font = False
    word_chars = "-A-Za-z0-9,./?%&#_"

