[colors]
# Selenized white colorscheme for Termite

# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)

foreground = #474747
foreground_bold = #282828
#foreground_dim = #888888
background = #ffffff
cursor = #474747

# if unset, will reverse foreground and background
#highlight = #839496

# colors from color0 to color254 can be set
color0 = #ebebeb
color1 = #d6000c
color2 = #1d9700
color3 = #c49700
color4 = #0064e4
color5 = #dd0f9d
color6 = #00ad9c
color7 = #878787
color8 = #cdcdcd
color9 = #bf0000
color10 = #008400
color11 = #af8500
color12 = #0054cf
color13 = #c7008b
color14 = #009a8a
color15 = #282828
