[colors]
# Selenized black colorscheme for Termite

# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)

foreground = #b9b9b9
foreground_bold = #dedede
#foreground_dim = #888888
background = #181818
cursor = #b9b9b9

# if unset, will reverse foreground and background
#highlight = #839496

# colors from color0 to color254 can be set
color0 = #252525
color1 = #ed4a46
color2 = #70b433
color3 = #dbb32d
color4 = #368aeb
color5 = #eb6eb7
color6 = #3fc5b7
color7 = #777777
color8 = #3b3b3b
color9 = #ff5e56
color10 = #83c746
color11 = #efc541
color12 = #4f9cfe
color13 = #ff81ca
color14 = #56d8c9
color15 = #dedede
